<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://hgphnm.com/prototype/itf2011/css/main.css" />
    <link rel="stylesheet" href="/Static/CSS/{{style}}.css">
    <title>Happy Teacher Day</title>
  </head>
  <body>
 
    {{> header }}
    
    {{{body}}}

    {{> footer }}
  </body>

<script src="/Static/JS/{{function}}.js"></script>


</html>